<div id="canvas_container">
    <canvas id="EpicGame" width="2272" height="1280"></canvas>
</div>

<style>
    #canvas_container {
        width: 1200px;
        height: 100%;
        text-align: center;
        margin: 40px auto;
        padding: 80px 140px;
        background: url('/images/ipad_frame.png');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 1228px 801px;
    }
    #EpicGame {
        width: 960px;
        height: 607px;
        margin-left: -45px;
        margin-top: -1px;
    }
</style>
